.row {
    display: flex;
    justify-content: center;
    position: relative;
    width: 40rem; /* Set the width of the row */
    margin: 0 auto; /* Center the row horizontally */
    transform: translateY(calc(-50% + 2rem * var(--row-index)));  
}
  
  .row:first-child {
    top: 1rem;
  }
  
  .row:nth-child(2) {
    top: 1rem;
  }
  
  .row:nth-child(3) {
    top: 1rem;
  }
  
  .row:nth-child(4) {
    top: 1rem;
  }
  
  .row:nth-child(5) {
    top: 1rem;
  }
  
  .row:nth-child(6) {
    top: 1rem;
  }
  
  .row:nth-child(7) {
    top: 1rem;
  }
  
  .row:nth-child(8) {
    top: 1rem;
  }
  
  .card {
    margin: 0 0.5rem;
    position: absolute;
    top: 0;
    left: calc(-50% + var(--card-index) * 3rem);
  }
  
  .card:first-child {
    top: 0;
  }
  
  .card:nth-child(2) {
    left: 3rem;
  }
  
  .card:nth-child(3) {
    left: 6rem;
  }
  
  .card:nth-child(4) {
    left: 9rem;
  }
  
  .card:nth-child(5) {
    left: 12rem;
  }
  
  .card:nth-child(6) {
    left: 15rem;
  }
  
  .card:nth-child(7) {
    left: 18rem;
  }
  
  .card:nth-child(8) {
    left: 21rem;
  }
  
  .card:nth-child(9) {
    left: 24rem;
  }
  
  .slideIn {
    animation: slideIn 1s ease-out forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slideUp {
    animation: slideUp 1s ease-out forwards;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
  